services:
    acme.contentful.acme_content:
        class: %dothiv_contentful.content.class%
        arguments:
            - @dothiv_contentful.content_repository
            - @dothiv_contentful.view_builder
            - %contenful_space_acme%

    acme.contentful.twig.extension:
        class: %dothiv_contentful.twig.extension.class%
        arguments:
         - @acme.contentful.acme_content
         - "acme_content"
        tags:
         - { name: twig.extension }

    acme.contentful.translation.strings_loader:
        class: %dothiv_contentful.translation.strings_loader.class%
        arguments:
         - @acme.contentful.acme_content
         - 'String'
         - 'en'
        tags:
         - { name: translation.loader, alias: contentful_strings_acme }

    acme.contentful.sponsor_logo_listener:
        class: %dothiv_contentful.view_create.image_listener.class%
        arguments:
            - @dothiv_contentful.image_scaler
            - 'Sponsor'
            - 'logo'
        tags:
            - { name: dothiv_contentful.event_listener, event: dothiv.contentful.view.create, method: onViewCreate }
